[Unit]
Description=Chinta backend daemon
After=network.target

[Service]
StartLimitInterval=50
StartLimitBurst=100
PermissionsStartOnly=true
ExecStart=/usr/bin/chinta "--config" "/etc/chinta/config.toml" "--working-directory" "/root"
KillMode=process
TimeoutStopSec=60s

Restart=no

[Install]
WantedBy=multi-user.target